.board {
  margin: 20px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columns-wrapper {
  display: flex;
  align-items: flex-start;
}

.column {
  width: 300px;
  min-height: 85vh;
  padding: 15px;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.column:first-of-type {
  border-left: 1px solid grey;
}